/* Common */
* {
    box-sizing: border-box;
    font-size: 62.5%;
}

:root {
    --primary-font: "Sen", sans-serif;
    --secondary-font: "Poppins", sans-serif;
    --default-width-content: 1170px;
    --black-color: #171100;
    --white-color: #FFFFFF;
    --yellow-color: #FFB900;
    --yellow-arrow-color: #FFB900;
}

html {
    font-size: 62.5%;
}

body,main {
    font-size: 1.6rem;
    font-family: var(--secondary-font);

}

a {
    text-decoration: none;
    color: #5F5B53;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex {
    display: flex;
}

button {
    all: unset;
    cursor: pointer;
    width: 118px;
    height: 50px;
    border-radius: 25px;
    background: #171100;
    color: #FFFCF4;
    font-weight: 600;
    text-align: center;
    font-size: 1.4rem;
}

h1 {
    color: #171100;
    font-family: var(--primary-font);
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 117.241% */
    letter-spacing: -1.16px;
}
p {
    color: #5F5B53;
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

h2 {
    color: #171100;
    font-family: var(--primary-font);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

h3 {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66
}

b {
    font-weight: 600;
    font-size: 1.6rem;
}

.icon_custom_arow {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid var(--yellow-color);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon_custom_arow:hover {
    --yellow-arrow-color: var(--white-color);
    background-color: var(--yellow-color);
}

.icon_custom_arow.left::before {
    content: "";
    position: absolute;
    border-width: 0 2px 2px 0;
    border-color: var(--yellow-arrow-color);
    border-style: solid;
    padding: 4px;
    transform: rotate(135deg);
}

.icon_custom_arow.right::before {
    content: "";
    position: absolute;
    border-width: 0 2px 2px 0;
    border-color: var(--yellow-arrow-color);
    border-style: solid;
    padding: 4px;
    transform: rotate(-45deg);
}

.icon_circle_custom {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
}
.icon_circle_custom.active {
    background-color: #FFB900;
}
.toggle_icon {
   display: flex;
}
.main_content {
    width: var(--default-width-content);
    margin-left: auto;
    margin-right: auto;
}

@keyframes slideIn {
    from {
        transform: translateX(100vw);
    }
    to {

        transform: translateX(0);
    }
}

/* header */
header,.hero {
    background-color: #FFFCF4;
}
header {
    position: sticky;
    top: 0px;
    padding-top: 36px;
    z-index: 10;
}
header .menu {
    justify-content: space-between;
    font-family: var(--secondary-font);
    width: var(--default-width-content);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
header .menu .logo{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.4;
}
header .menu .logo {
    flex: 1;
}
header .menu .tab_bar {
    flex-basis: 359px;
    margin-right: 70px;
    display: flex;
    justify-content: space-between;
}
header .btn.sign_in_up {
    width: 144px;
}
header .tab_bar .active {
    font-weight: 600;
    color: var(--black-color);
    position: relative;
}
header .tab_bar .active::before {
    content: "";
    width: 12px;
    height: 2px;
    bottom: -4px;
    background-color: var(--black-color);
    position: absolute;
}

/* Hero */
.hero {
    height: 900px;
    padding-top: 54px;
}
.hero .content {
    display: flex;
    justify-content: space-between;
}
.hero .content .left {
    position: relative;
    height: 685px;
}
.hero .content .main-img{
    width: 470px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.hero .content .left .card .icon_custom {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-top: auto;
    margin-bottom: auto;
}
.hero .content .left .card .design .icon_custom {
    background-color: #FFF9E8;
}
.hero .content .left .card .development .icon_custom {
    background-color: #FCEFFF;
}
.hero .content .left .card .marketing .icon_custom {
    background-color: #EBEAFF;
}
.hero .content .left .card image::before {
    content: "";
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #5F5B53;
    position: absolute;
}

.hero .content .left .card {
    width: 270px;
    height: 244px;
    border-radius: 12px;
    background: var(--white-color);
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 48px;
    right: 0;
    transform: translateX(calc(50% - 20px));
}
.hero .content .left .count{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}
.hero .content .left .card .infor{
    margin-left: 16px;
}
.hero .content .left .name{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}
.hero .content .left .card .lst_course {
    margin-top: 28px;
    margin-left: 24px;
}
.hero .content .card .course + .course{
    margin-top: 14px;
}
.hero .content .right {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 558px;
}

.hero .content .right .subtitle {
    font-size: 1.8rem;
    margin-top: 22px;
}
.hero .content .right .action {
    gap: 28px;
}
.hero .content .right .btn {
    width: 180px;
    height: 64px;
    border-radius: 32px;
    font-weight: 600;
    font-size: 1.8rem;
}
.hero .content .right .btn.see_courses {
    background-color: var(--yellow-color);
}
.hero .content .right .btn.btn_custom {
    color: var(--black-color);
    align-items: center;
    cursor: pointer;
}
.hero .content .right .action{
    margin-top: 38px;
    margin-bottom: 48px;
}
.hero .content .right .btn .icon_custom {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white-color);
    position: relative;
    margin-right: 14px;
}
.hero .content .right .btn .icon_custom::before {
    content: "";
    border-top: 6px solid transparent;
    border-left: 12px solid var(--yellow-color);
    border-bottom: 6px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
}

.hero .content .right .statistic {
    margin-top: 8px;
    width: 361px;
    height: 92px;
    justify-content: space-between;
}

.hero .content .right .statistic .number {
    font-weight: var(--primary-font);
    font-size: 4.4rem;
    font-weight: 700;
    color: var(--black-color);
    margin-right: 10px;
    line-height: 1.22;
}


/* Courses */

.courses {
    height: 1045px;
    padding-top: 200px;
}
.courses .header {
    align-items: center;
    justify-content: space-between;
}
.courses .header .right .icon_custom_arow.left {
    margin-right: 18px;
}
.courses .header .right .icon_custom_arow {
    cursor: pointer;
}
.courses .subtitle {
    margin-top: 16px;
    width: 458px;
}
.courses .lst_course {
    gap: 30px;
    margin-top: 55px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
}
.courses .lst_course .item {
    width: 370px;
    height: 466px;
    border-radius: 12px;
    background: var(--white-color);
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    flex-basis: 370px;
    flex-shrink: 0;

}
.courses .lst_course .item > img {
    width: 100%;
    height: 278px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
    margin-bottom: 16px;
}


.courses .lst_course .item .content {
    align-items: center;
    justify-content: space-between;
}

.courses .lst_course .item .content .start_icon {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}

.courses .lst_course .item .content .rate {
    color: var(--yellow-color);
}

.courses .lst_course .item .desc {
    font-size: 1.4rem;
    line-height: 1.85;
    margin-top: 6px;
}
.courses .lst_course .item div:last-child {
    justify-content: space-between;
}
.courses .lst_course .item > :not(img) {
    padding:0 22px;
}
.courses .lst_course .item .price {
    font-weight: 600;
    font-size: 1.8rem;
}
/* testimnial */
.testimnial {
    height: 380px;
    background-color: #2E2100;
    padding-top: 96px;
}
.testimnial .lst_testimial .item {
    display: none;
    justify-content: space-between;
}
.testimnial .lst_testimial .item.active {
    display: flex;
    animation-name: showIn;
    animation-duration: 3s;
} 
@keyframes showIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.testimnial .student_infor .student_picture {
    width: 72px;
    height: 72px;
}

.testimnial .student_infor .student_picture > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.testimnial .student_infor .student_name {
    color: #F7F7F7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41;
    margin-top: 18px;
}

.testimnial .student_infor {
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.85
}
.testimnial .right .student_assessment
{
    width: 770px;
    position: relative;
}
.testimnial .right .student_assessment > p {
    color: white;
    font-family: Poppins;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53;
    padding-left: 30px;
    padding-top: 28px;
}
.testimnial .right .student_assessment::before {
    content: "";
    width: 30px;
    height: 28px;
    background-image: url(../img/quotation_marks_icon.svg);
    position: absolute;
}

/* Feature */
.feature {
    padding-top: 200px;
}
/* upper_part */
.feature .upper_part {
    justify-content: space-between;
}
.feature .upper_part .left {
    width: 570px;
    height: 438px;
    justify-content: space-between;
}
.feature .upper_part .left .align_bottom_img,.align_top_img {
    width: 270px;
    height: 404px;
    box-shadow: 0 16px 32px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
.feature .upper_part .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.feature .upper_part .left .align_bottom_img{
    align-self: flex-end;
}
.feature .upper_part .right {
    width: 470px;
    padding-top: 58px;
}
.feature .upper_part .right .subtitle {
    margin-top: 16px;
    margin-bottom: 16px;
}
.feature .upper_part .right .btn {
    background-color: var(--yellow-color);
    margin-top: 32px;
    width: 137px;
}

/* lower_part */
.feature .lower_part {
    margin-top: 200px;
    justify-content: space-between;
    padding-bottom: 200px;
}
.feature .lower_part .left {
    width: 570px;
}
.feature .lower_part .left .title {
    padding-top: 71px;
}
.feature .lower_part .left .subtitle {
    margin-top: 16px;
}
.feature .lower_part .left .btn{
    margin-top: 32px;
    background-color: var(--yellow-color);
}
.feature .lower_part .right .align_bottom_img {
    width: 470px;
    height: 440px;
}
.feature .lower_part .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* Blog */
.blog {
   height: 878px;
   padding-top: 96px; 
   background-color: #FFFCF4;
}
.blog .title {
    display: flex;
    justify-content: center;
}
.blog .subtitle {
    width: 448px;
    margin: 0 auto;
    text-align: center;
}
.blog .lst_blog {
    margin-top: 55px;
    justify-content: space-between;
}
.blog .lst_blog.active {
    animation-name: slideIn;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: linear;
}
.blog .lst_blog .blog_item {
    width: 370px;
    height: 467px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.blog .lst_blog .blog_item .main_img {
    height: 250px;
}
.blog .lst_blog .blog_item .main_img > img {
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}
.blog .lst_blog .blog_item .date_time {
    font-size: 1.4rem;
    line-height: 1.85;
    position: relative;
    padding-left: 10px;
}
.blog .lst_blog .blog_item .date_time::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--yellow-color);
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.blog .lst_blog .blog_item .content {
    padding: 20px;
    padding-bottom: 0px;
}
.blog .lst_blog .blog_item .line {
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
    margin-top: 12px;
}
.blog .lst_blog .blog_item .desc {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 12px;
    line-height: 1.75;
    color: var(--black-color);
}
.blog .lst_blog .blog_item .btn {
    margin-top: 12px;
    width: 118px;
}
.blog .toggle_icon {
    margin-top: 38px;
    justify-content: center;
}
footer {
    height: 427px;
    background: #2E2100;
    padding-top: 96px;
}
footer .company_infor .contact {
    justify-content: space-between;
    
}

footer .company_infor b {
    color: var(--white-color);
    position: relative;
}

footer .company_infor p {
    color: #BFBCB2;
    font-size: 1.4rem;
    line-height: 1.85;
}

footer .company_infor .address {
    flex-basis: 231px;
}
footer .company_infor .address > p > b {
    font-size: 1.4rem;
} 
footer .company_infor .lesson {
    flex-basis: 267px;

}
footer .company_infor .lesson .logo {
    font-size: 1.8rem;
}

footer .company_infor .lesson .desc {
    margin-top: 18px;
}
footer .company_infor .lesson .social {
    margin-top: 18px;
}
footer .company_infor .lesson .social i {
    margin-right: 16px;
    color: var(--white-color);
}

footer .company_infor .contact > :not(:first-child)>b::after {
    content: "";
    width: 130px;
    height: 1px;
    background: #59554B;
    position: absolute;
    bottom: -18px;
    left: 0;
}

footer .company_infor .contact > :not(:first-child)> p:first-of-type {
    margin-top: 43px;
}
footer .company_infor p + p {
    margin-top: 12px;
}
footer .line {
    width: 100%;
    height: 1px;
    background: #59554B;
    margin-top: 38px;
}
footer .copy_right {
    margin-top: 28px;
    text-align: center;
    color: #807D74;
}